@import '_base.sass'
@import 'mixins.sass'
$inactive: rgba(0, 0, 0,0.05)
$active: rgba(210,210,210,1)
$red: rgb(214, 69, 65)
$boxShadow: 4px 1px 28px 5px rgba(191,191,191,0.57)
$large_screen: "900px"

.main-container
	display: flex
	@include respond(medium)
		flex-direction: column
		
.blurred
	@include opacity(0.7)
.player-container
	@include width-height(100vw,100vh)
	@include flexContainer(column,space-around,center)
	background: $inactive
	@include respond(medium)
		flex-direction: row
		height: 50vh
	@include respond(small)
		height: 100vh
		@include absolute-origin
		@include flexContainer(column,space-between,null)
	.hide
		display: none

.active-player
	background: $active
	z-index: 5
	animation: anim 1s cubic-bezier(.24,.83,.69,.89)
	@include keyframes(anim)
		0%
			background: $active
		50%
			background: rgba(180,180,180,0.8)
		100%
			background: $active

.sub-container
	text-align: center
	@include respond(small)
		position: relative
		top: 9%

.player-label
	@include textOption(7rem,200,uppercase,black)
	@include flexContainer(row,null,center)
	@include respond(medium)
		font-size: 5rem
	@include respond(small)
	@include textOption(3rem,400,uppercase,black)

.dot
	content: ""
	@include width-height(2.5rem,2.5rem)
	border-radius: 50%
	background: transparent
	margin-left: 3rem

.dot-active
	background: $red
	@include transition(background 1s ease)

.score
	@include textOption(11rem,200,null,$red)
	margin-right: 2.5rem
	justify-self: center
	@include respond(medium)
		font-size: 9rem
	@include respond(small)
		font-size: 6rem

.round-container
	text-align: center
	background: $red
	@include width-height(20rem,13rem)
	border-radius: 0.5rem
	@include flexContainer(column,space-around,null)
	@include box-shadow($boxShadow)
	@include respond(medium)
		transform: scale(0.8)
	@include respond(small)
		transform: scale(0.7)
		position: relative
		bottom: 10%
.round-label
	@include textOption(2.2rem,500,uppercase,black)

.round
	@include textOption(5.5rem,200,null,white)

.pannel-container
	z-index: 5
	@include absolute-origin
	@include width-height(100vw,100vh)
	@include flexContainer(column, space-between,center)
	@include respond(medium)
		flex-direction: row-reverse
	@include respond(small)
		@include flexContainer(column,flex-start,space-between)
		
.btn-container
	@include flexContainer(null,null,center)
	@include textOption(2.5rem,null,uppercase,black)
	@include respond(medium)
		font-size: 2.2rem
	@include respond(small)
		font-size: 1.5rem
	img
		pointer-events: all
		margin-right: 2rem
		width: 4rem
		@include respond(medium)
			margin-right: 1rem
		&:hover
			transform: scale(1.5)
			transition: transform 0.5s ease

#rollContainer
	margin-bottom: 4rem
	@include respond(medium)
		margin-bottom: 4rem
	@include respond(small)
		margin-bottom: 2.5rem
	#rollButton:hover
		@include rotate(180deg)
		transition: transform 0.5s ease-out

.rollHold-container
	position: relative
	bottom: 16%
	@include respond(medium)
		bottom: 0
		left: 5%
	@include respond(small)
		left: 0
		top: 21%

#startContainer
	position: relative
	top: 5%
	@include respond(medium)
		top: 0
		right: 5%
	@include respond(small)
		right: 0
		top: 2%
.canvas-container
	z-index: 6
	@include set-position(absolute,35%,50%,null,null)
	@include width-height(20rem,20rem)
	transform: translate(-50%,-50%)
	@include respond(medium)
		top: 50%
	@include respond(small)
		top: 57%
		@include width-height(15rem,15rem)

#canvas
	@include width-height(20rem,20rem)
	background: white
	border-radius: 2.5rem
	@include box-shadow($boxShadow)
	@include respond(medium)
		@include width-height(17rem,17rem)
	@include respond(small)
		@include width-height(15rem,15rem)
		border-radius: 1.7rem
.rotate
	animation: rotateDice 1s ease

@include keyframes(rotateDice)
	0% 
		@include rotate(0)
	100% 
		@include rotate(360deg)

.win-box
	@include absolute-center
	@include width-height(50rem,15rem)
	@include flexContainer(row,center,center)
	@include textOption(4rem,300,uppercase,white)
	border-radius: 1rem
	box-shadow: $boxShadow
	background: $red
	z-index: 7
	opacity: 0.95
	@include transition(opacity 1s ease-out)
	@include respond(medium)
			top: 10%
			@include width-height(32rem,8rem)
			font-size: 2.5rem
			@include respond(medium)
				top: 50%
#loading-screen
	display: none
.loading-screen
	display: block
	@include absolute-origin
	@include width-height(100vw,100vh)
	background: rgba(240,240,240,1)
	z-index: 10
	@include flexContainer(null,center,center)

	#loadImage
		width: 10rem
		animation: rotation 0.8s infinite linear
		@include keyframes(rotation)
			from
				@include rotate(0deg)
			to
				@include rotate(-360deg)





















	