@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  position: relative;
  cursor: default;
  margin: 0;
  font-family: "Lato"; }

html {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Lato"; }

.main-container {
  display: flex; }
  @media only screen and (max-width: 900px) {
    .main-container {
      flex-direction: column; } }

.blurred {
  opacity: 0.7;
  filter: alpha(opacity=70); }

.player-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.05); }
  @media only screen and (max-width: 900px) {
    .player-container {
      flex-direction: row;
      height: 50vh; } }
  @media only screen and (max-width: 600px) {
    .player-container {
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between; } }
  .player-container .hide {
    display: none; }

.active-player {
  background: #d2d2d2;
  z-index: 5;
  animation: anim 1s cubic-bezier(0.24, 0.83, 0.69, 0.89); }
@-webkit-keyframes anim {
  0% {
    background: #d2d2d2; }
  50% {
    background: rgba(180, 180, 180, 0.8); }
  100% {
    background: #d2d2d2; } }
@-moz-keyframes anim {
  0% {
    background: #d2d2d2; }
  50% {
    background: rgba(180, 180, 180, 0.8); }
  100% {
    background: #d2d2d2; } }
@-o-keyframes anim {
  0% {
    background: #d2d2d2; }
  50% {
    background: rgba(180, 180, 180, 0.8); }
  100% {
    background: #d2d2d2; } }
@keyframes anim {
  0% {
    background: #d2d2d2; }
  50% {
    background: rgba(180, 180, 180, 0.8); }
  100% {
    background: #d2d2d2; } }
.sub-container {
  text-align: center; }
  @media only screen and (max-width: 600px) {
    .sub-container {
      position: relative;
      top: 9%; } }

.player-label {
  font-size: 7rem;
  font-weight: 200;
  text-transform: uppercase;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  color: black; }
  @media only screen and (max-width: 900px) {
    .player-label {
      font-size: 5rem; } }

.dot {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: transparent;
  margin-left: 3rem; }

.dot-active {
  background: #d64541;
  -webkit-transition: background 1s ease;
  -moz-transition: background 1s ease;
  -ms-transition: background 1s ease;
  transition: background 1s ease; }

.score {
  font-size: 11rem;
  font-weight: 200;
  color: #d64541;
  margin-right: 2.5rem;
  justify-self: center; }
  @media only screen and (max-width: 900px) {
    .score {
      font-size: 9rem; } }
  @media only screen and (max-width: 600px) {
    .score {
      font-size: 6rem; } }

.round-container {
  text-align: center;
  background: #d64541;
  width: 20rem;
  height: 13rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  -webkit-box-shadow: 4px 1px 28px 5px rgba(191, 191, 191, 0.57) 10px 0px 0px #000000;
  -moz-box-shadow: 4px 1px 28px 5px rgba(191, 191, 191, 0.57) 10px 0px 0px #000000;
  box-shadow: 4px 1px 28px 5px rgba(191, 191, 191, 0.57) 10px 0px 0px #000000; }
  @media only screen and (max-width: 900px) {
    .round-container {
      transform: scale(0.8); } }
  @media only screen and (max-width: 600px) {
    .round-container {
      transform: scale(0.7);
      position: relative;
      bottom: 10%; } }

.round-label {
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: black; }

.round {
  font-size: 5.5rem;
  font-weight: 200;
  color: white; }

.pannel-container {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 900px) {
    .pannel-container {
      flex-direction: row-reverse; } }
  @media only screen and (max-width: 600px) {
    .pannel-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: space-between; } }

.btn-container {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: black; }
  @media only screen and (max-width: 900px) {
    .btn-container {
      font-size: 2.2rem; } }
  @media only screen and (max-width: 600px) {
    .btn-container {
      font-size: 1.5rem; } }
  .btn-container img {
    pointer-events: all;
    margin-right: 2rem;
    width: 4rem; }
    @media only screen and (max-width: 900px) {
      .btn-container img {
        margin-right: 1rem; } }
    .btn-container img:hover {
      transform: scale(1.5);
      transition: transform 0.5s ease; }

#rollContainer {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 900px) {
    #rollContainer {
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 600px) {
    #rollContainer {
      margin-bottom: 2.5rem; } }
  #rollContainer #rollButton:hover {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: transform 0.5s ease-out; }

.rollHold-container {
  position: relative;
  bottom: 16%; }
  @media only screen and (max-width: 900px) {
    .rollHold-container {
      bottom: 0;
      left: 5%; } }
  @media only screen and (max-width: 600px) {
    .rollHold-container {
      left: 0;
      top: 21%; } }

#startContainer {
  position: relative;
  top: 5%; }
  @media only screen and (max-width: 900px) {
    #startContainer {
      top: 0;
      right: 5%; } }
  @media only screen and (max-width: 600px) {
    #startContainer {
      right: 0;
      top: 2%; } }

.canvas-container {
  z-index: 6;
  position: absolute;
  top: 35%;
  left: 50%;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 900px) {
    .canvas-container {
      top: 50%; } }
  @media only screen and (max-width: 600px) {
    .canvas-container {
      top: 57%;
      width: 15rem;
      height: 15rem; } }

#canvas {
  width: 20rem;
  height: 20rem;
  background: white;
  border-radius: 2.5rem;
  -webkit-box-shadow: 4px 1px 28px 5px rgba(191, 191, 191, 0.57) 10px 0px 0px #000000;
  -moz-box-shadow: 4px 1px 28px 5px rgba(191, 191, 191, 0.57) 10px 0px 0px #000000;
  box-shadow: 4px 1px 28px 5px rgba(191, 191, 191, 0.57) 10px 0px 0px #000000; }
  @media only screen and (max-width: 900px) {
    #canvas {
      width: 17rem;
      height: 17rem; } }
  @media only screen and (max-width: 600px) {
    #canvas {
      width: 15rem;
      height: 15rem;
      border-radius: 1.7rem; } }

.rotate {
  animation: rotateDice 1s ease; }

@-webkit-keyframes rotateDice {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes rotateDice {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes rotateDice {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotateDice {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.win-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  border-radius: 1rem;
  box-shadow: 4px 1px 28px 5px rgba(191, 191, 191, 0.57);
  background: #d64541;
  z-index: 7;
  opacity: 0.95;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out; }
  @media only screen and (max-width: 900px) {
    .win-box {
      top: 10%;
      width: 32rem;
      height: 8rem;
      font-size: 2.5rem; } }
  @media only screen and (max-width: 900px) and (max-width: 900px) {
    .win-box {
      top: 50%; } }

#loading-screen {
  display: none; }

.loading-screen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loading-screen #loadImage {
    width: 10rem;
    animation: rotation 0.8s infinite linear; }
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
@-moz-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
@-o-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

/*# sourceMappingURL=style.css.map */
