@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
*{
	box-sizing: border-box;
	position: relative;
	cursor: default;
	margin: 0;
	font-family: 'Lato';
}
html{
	position: relative;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-size: 62.5%;
}
body{
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
.main-container{
	display: flex;
}
.player{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0,0.05);
}
#player1{
	width: 50vw;
	height: 100vh;
}

#player2{
	width: 50vw;
	height: 100vh;
}

.player-label{
	margin-left: 7rem;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 7rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.dot{
	display: inline-block;
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
	margin-left: 3rem;
	opacity: 0;
	background: rgb(214, 69, 65);
}
.dot-active{
	opacity: 1;
}
.active-player{
	background: rgba(215,215,215,1);
}
.globalScore{
	font-size: 11rem;
	font-weight: 200;
	color: rgb(214, 69, 65);
}
.currentScore-container{
	margin: 25rem 0 0 0;
	text-align: center;
	width: 20rem;
	height: 13rem;
	background: rgba(136, 136, 136, 1.0);
	border-radius: 0.3rem;
	background: rgb(214, 69, 65);

}
.currentScore-container .label{
	margin: 1.2rem 2rem 1.2rem 2rem;
	font-family: Lato:wght@300;
	font-size: 2.2rem;
	text-transform: uppercase;
	font-weight: 500;
}
.currentScore-container .score{
	font-weight: 200;
	color: white;
	font-size: 5.2rem;
}
.pannel-container{
	text-align: center;
	font-size: 2.8rem;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#playerPannel{
	z-index: 1;
	position: relative;
	bottom: 13%;
}
.roll-btn, .hold-btn, .start-btn{
	display: flex;
	align-items: center;
	margin: 4.5rem;
}
.pannel-container img{
	margin-right: 2rem;
	width: 4rem;
}
.canvas-container{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#canvas{
	margin-bottom: 13rem;
	width: 17rem;
	height: 17rem;
	opacity: 0.95;
	border-radius: 2rem;
	background: rgba(250,250,250,1);
}
.rotate{
	animation: rotateDice 1s ease;

}

/*----------------------------------------- FACE 1 */

@keyframes rotateDice {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px){

	.main-container{
		flex-direction: column;
	}
	.player{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
	#player1, #player2{
		width: 100vw;
		height: 50vh;
	}
	.player-label{
		font-size: 5.5rem;
	}
	.globalScore{
		font-size: 9.5rem;
	}
	.currentScore-container{
		margin: 0;
		width: 14rem;
		height: 10rem;
	}
	.currentScore-container .label{
		margin: 1.2rem 2rem 1.2rem 2rem;
		font-family: Lato:wght@300;
		font-size: 2rem;

	}
	.currentScore-container .score{
		font-size: 3.5rem;
	}

	.pannel-container{
		display: block;

	}
	#playerPannel{
		font-size: 2.5rem;
		height: 12rem;
		position: absolute;
		top: 50%;
		left: 20%;
		transform: translate(-50%,-50%);
	}
	.roll-btn, .hold-btn, .start-btn{
		display: flex;
		align-items: center;
		margin: 0;
	}
	.roll-btn{
		margin-bottom: 5rem;
	}
	.pannel-container img{
		margin-right: 1.5rem;
		width: 3.5rem;
	}
	#gamePannel{
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 2rem;
	}
	.canvas-container{
		justify-content: right;
		align-items: center;
	}
	#canvas{
		margin: 0 5rem 0 0;
	}
	
}
@media screen and (max-width: 700px){
	#player1{
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
	}
	#player2{
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
	}
	.hide{
		display: none;
		width: 0;
		height: 0;
	}
	.player-label{
		margin-top: 45rem;
		font-size: 4.5rem;
	}
	.currentScore-container{
		position: absolute;
		top: 52%;
		left: 75%;
		transform: translate(-50%,-50%);
		margin: 0;
		width: 17rem;
		height: 11rem;
	}
	.canvas-container{
		justify-content: center;
		align-items: flex-start;
	}
	#canvas{
		margin: 10rem 0 0 0;
	}
	#playerPannel{
		top: 52%;
		left: 25%;
	}
	.roll-btn{
		margin-bottom: 4.5rem;
	}
}